.header {
  background-color: #f8df1f;
  padding: 3%;
  top: 0;
}
nav ul li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}
h1 {
  text-align: center;
}
.hero-image {
  opacity: .33;
}
h1,
h2,
p,
button {
  font-family: 'Roboto', sans-serif;
}
.first {
  background-color: white;
}
table {
  font-family: 'Roboto', sans-serif;
  padding: 5%;
}
th,
td {
  padding: 1%;
}
button {
  background-color: #f8df1f;
  font-size: 18px;
  color: #050500;
  weight: 500;
  border-radius: 8px;
  padding: 1%;
}
.container {
  width: 100%;
}
span {
  color: #ee252f;
}
.first {
  padding: 5%;
}
.second {
  background-color: lightgrey;
  padding: 5%;
}
th {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  width: 50%;
}
footer {
  background-color: #080801;
}
.logo {
  display: block;
  margin: auto;
  padding: 1%;
  z-index: auto;
}
