@import "variables";


.nav {
  background-color: @yellow;
  padding: 3%;
  top: 0;
}

header {
  background-image: url(../img/banner-bg.png);
  height: 450px;
}

nav {
  ul {
    li {
      display: inline;
      font-family: @font-family;
      padding: 2%;
      margin-bottom: @padding;
      margin-top: @padding;
    }
  }
}

h1 {
  text-align: center;
}

.hero-logo, .hero-button {
  display: block;
  margin: auto;
  width: 30%;
  top: 50%;
}

h1, h2, p, button {
  font-family: @font-family;
}

.first {
  background-color: white;
}

table {
  font-family: @font-family;
  padding: @padding;
}

th, td {
  padding: 1%;
}

button {
  background-color: @yellow;
  font-size: 12px;
  color: @color;
  weight: @weight;
  border-radius: @border;
  padding: 1%;
}

.container {
  width: 100%;
}

span {
  color: @red;
}

.first {
  padding: @padding;
}

.second {
  background-color: lightgrey;
  padding: @padding;
}

th {
  font-family: @font-family;
  font-size: 15px;
  width: 50%;
}

td {
  font-size: 10px;
}

footer {
  background-color: @black;
}

.logo {
  display: block;
  margin: auto;
  padding: 1%;
  width: 20%;
}


/* ----- START 560PX MEDIA QUERY ----- */
@media (min-width: 560px) {
  button {
    font-size: 15px;
  }
  th {
    font-size: 20px;
  }
  td {
    font-size: 15px;
  }
}
/* ----- END 560PX MEDIA QUERY ----- */



/* ----- START 1000PX MEDIA QUERY ----- */
@media (min-width: 1000px) {
  button {
    font-size: @button-size;
  }
  th {
    font-size: @heading-size;
  }
  td {
    font-size: @p-size;
  }


}
/* ----- END 1000PX MEDIA QUERY ----- */
